@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Yuyu&display=swap');    

    :root{
        --platina: #e7ecefff;
        --azul-escuro: #274c77ff;
        --azul-bebe: #6096baff;
        --gelo: rgb(0, 0, 0);
        --titulo: "Geist Pixel", sans-serif;
        --texto: "Yuyu", sans-serif;
    }
    body{
        background: var(--platina);
        font-family: var(--texto);
    }
    header{
        background: var(--azul-bebe);
        display: flex;
        justify-content: space-between;
        color: var(--gelo)
    }